@import 'variables';

.header-items {

  /* flex */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  /* bg texture */
  background-image: url('../images/header-bg.png');
  background-repeat: repeat;
  background-color: $header-background-color;
}

.header-items .avatar {
  margin: 7x;
  max-height: 50%;
}

.header-items .name h2 {
  color: $profile-name-color;
  margin: 7px;
  max-height: 25%;
}