.new-tweet>h2 {
  margin: 15px 0;
}

.new-tweet>errormsg {
  font-size: 25px;
  color: white;
  background-color: crimson;
  line-height: 50px;
  display: none;
  padding: 5px;
}

.tweet-form {
  height: 200px;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

/* the input text box */
.tweet-field {
  border: none;
  /* Remove the default border */
  border-bottom: 2px solid #000;
  /* Add a bottom border (2px solid line) */
  /* Optional: Add padding to adjust spacing 
  between text and border */
  padding: 5px;
  background-color: inherit;
  font-size: 18px;
  font-weight: 600;
  line-height: 1;

  /* hide scrollbars */
  overflow: hidden;
  resize: none;
}

.tweet-submission-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.tweet-button {
  font-family: 'Bungee', sans-serif;
  color: #FFFFFF;
  background-color: #4056A1;
  padding: 5px;
  margin: 15px 0;
}

.tweet-counter {
  font-family: 'Bungee', sans-serif;
  color: black;
  padding: 5px;
}

.counter-positive {
  color: black;
}

.counter-negative {
  color: red;
}